SetEnv MIBDIRS "C:/xampp/php/extras/mibs"

<IfModule mod_rewrite.c>
    # Enable Rewrite Engine
    RewriteEngine On

    # 1. Externally redirect /file.php to /file (Handle subdirectories)
    # Exclude api directory to prevent issues with direct script calls
    RewriteCond %{REQUEST_URI} !^/api/
    RewriteCond %{THE_REQUEST} "^[A-Z]{3,9}\ .+\/([^/.]+)\.php\ HTTP/" [NC]
    RewriteRule ^(.*)\.php$ %1 [R=301,L,NE]

    # 2. Internally rewrite /file to /file.php
    # This allows the app to load file.php when /file is requested.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>
